<link rel="stylesheet" href="/src/css/home.css">
<div class="loggin">
    <h1 class="title">loggin-page</h1>
    <form action="/edit" method="post" class="container">
        <div class="group group1">
            <label for="email" class="sub-item">email:</label>
            <input type="email" name="email" id="email" class="item">
        </div>
        <div class="group group2">
            <label for="password" class="sub-item">password:</label>
            <input type="password" name="password" id="password" class="item">
        </div>
        <button type="submit" class="btn">enter</button>
    </form>
</div>