html {
  font-size: 10px; }

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  background-color: #9797ff;
  overflow-x: hidden; }

#wrapper {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden; }
